<div class="ui basic padded segment">
	<a class="ui big button" href="/"><i class="home icon"></i> <?=_("Home")?> </a>
	<a class="ui big button" href="/dashboard"><i class="dashboard icon"></i> <?=_("Dashboard")?> </a>
	<a class="ui big button" href="/cfg/starter"><i class="cubes icon"></i> <?=_("Settings")?> </a>
	<a class="ui big button" href="/cfg/nodes"><i class="cubes icon"></i> <?=_("Nodes")?> </a>
	<a class="ui big button" href="/devices"><i class="list layout icon"></i> <?=_("Devices")?> </a>
</div>

