<h2 class="ui dividing header">Feeds</h2>
<div class="ui feed segment">
	<div class="event">
		<div class="label">
			<img src="/static/img/avatar.jpg">
		</div>
		<div class="content">
			<div class="summary">
				<a>Sally Poodle</a> added you as a friend
			</div>
		</div>
	</div>
	<div class="event">
		<div class="label">
			<i class="circular pencil icon"></i>
		</div>
		<div class="content">
			<div class="summary">
				You submitted a new post to the page
			</div>
		</div>
	</div>
</div>
