<h2 class="ui dividing header">Links</h2>
<div class="ui list">
	<a class="item">
		<i class="right triangle icon"></i>
		How do you know your dog likes you?
	</a>
	<a class="item">
		<i class="right triangle icon"></i>
		When is it ok to send your dog to a farm?
	</a>
	<a class="item">
		<i class="right triangle icon"></i>
		Can you get your dog back from a farm if you really want him back?
	</a>
	<a class="item">
		<i class="right triangle icon"></i>
		Is trespassing on a farm a misdemeanor offence?
	</a>
</div>
