<? extend 'layout.html' ?>
<? if not lwf.ctx.user then ?>
	<? if err then ?>
	<div class="ui red message"><?=err ?></div>
	<? end ?>

	<div class="ui centered stackable grid">
            <div class="six wide column">
                <div class="ui segments" align="center">
                    <div class="ui padded segment">
                        <span class="ui header">Welcome to KooIoT RDC Platform</span>
                    </div>
                    <div class="ui segment">
                        <form class="ui login form" action="/user/login" method="POST">
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" name="username" placeholder="Username">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="password" name="password" placeholder="Password">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" tabindex="0" class="hidden">
                                    <label>Remember Me</label>
                                </div>
                            </div>
                            <button class="ui big fluid blue icon button" type="submit">
				<?=_('SignIn')?> <i class="sign in icon"></i>
			    </button>
			    <div class="ui error message"></div>
                        </form>
                    </div>
                    <div class="ui secondary segment">
			<a class="green ui labeled icon button" href="/user/register">
				<i class="signup icon"></i>
				<?=_('Sign Up')?>
			</a>
                        <a href="">Forgot Password?</a>
                    </div>
                </div>
            </div>
	</div>
<? else ?>
	<div class="ui centered stackable grid">
		<div class="ui segments" align="center">
                    <div class="ui basic padded segment">
			<div class="ui blue message"><?=_("Welcome")?> <?=lwf.ctx.user.username ?></div>
		    </div>
                    <div class="ui basic padded segment">
			<a class="ui big button" href="/"><i class="home icon"></i> <?=_("Home")?> </a>
			<a class="ui big button" href="/dashboard"><i class="dashboard icon"></i> <?=_("Dashboard")?> </a>
			<a class="ui big button" href="/cfg/starter"><i class="cubes icon"></i> <?=_("Settings")?> </a>
			<a class="ui big button" href="/cfg/nodes"><i class="cubes icon"></i> <?=_("Nodes")?> </a>
			<a class="ui big button" href="/devices"><i class="list layout icon"></i> <?=_("Devices")?> </a>
		    </div>
		</div>
	</div>
<? end ?>
